@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #3d2323;
}

/* Hide scrollbar for all browsers */
.scrollable-element {
  overflow: auto;
}

.scrollable-element::-webkit-scrollbar {
  display: none;
}

.scrollable-element {
  -ms-overflow-style: none;
  scrollbar-width: none;
}